*{
    -fx-primary : #b9f6ca;
    -fx-secundary : #88c399;
    -fx-primary-text : #383838;
    -fx-secundary-text : #ecfffd;
    -fx-third-text : #50ff50;
    -fx-fourth-text : #ff0000;
    -fx-shadow-text : #475859;
}
.glyph-icon {
    -fx-fill: -fx-primary-text;
}

/** Labels **/
.label{
    -fx-text-fill: -fx-primary-text;
    -fx-font-size: 50;
}
.green-label{
    -fx-text-fill: -fx-third-text;
    -fx-font-size: 50;
}
.red-label{
    -fx-text-fill: -fx-fourth-text;
    -fx-font-size: 50;
}
.alpha-label{
    -fx-text-fill: -fx-shadow-text;
}
.alpha-label:hover{
    -fx-text-fill: -fx-secundary;
}
.bold-label-150{
    -fx-font-weight: bold;
    -fx-font-size: 150;
}
.bold-label-100{
    -fx-font-weight: bold;
    -fx-font-size: 100;
}
.bold-label-50{
    -fx-font-weight: bold;
    -fx-font-size: 50;
}
.bold-label-25{
    -fx-font-weight: bold;
    -fx-font-size: 25;
}
.bold-label-15{
    -fx-font-weight: bold;
    -fx-font-size: 15;
}

/** Button **/
.button{
    -fx-background-color: -fx-secundary;
    -fx-text-fill: -fx-primary-text;
    -fx-background-radius: 5;
    -fx-font-size: 40;
    -fx-border: none;
}
.button:hover{
    -fx-background-color: -fx-primary-text;
    -fx-text-fill: -fx-secundary;
}
.button-20{
    -fx-font-size: 20;
}
.button-10{
    -fx-font-size: 10;
}